body {
    background-image: url("medida-freepik.jpg");
    background-size: cover;
    background-position-y: -150px
    background-repeat no-repeat;
}
h1 {
    font-size: 60px; 
    background-color: white; 
    color: black; 
    text-align: center;
}
.btm {
    border: none;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
}
body {
    text-align: center;
}
.imc {
    background-color: palevioletred;
}